<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /eber_higuera/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /eber_higuera/index.html [L]
</IfModule>
